@import '../../index.scss';

.app-bar {
  background-color: $primary-color !important;
}

.toolbar {
  justify-content: space-between;
}

.title {
  font-weight: bold;
  cursor: pointer;
}

.button-box {
  display: flex;
  gap: 10px;
}

button {
  text-transform: none;
}

.registration-button:hover {
  background-color: white !important;
  color: $primary-color;
}
